# Docker postgres bilan ishlatish
# DATABASE_URL=postgresql://postgres:2009@postgres:5432/online_courses_db 
# Local postgres bilan ishlatish
DATABASE_URL=postgresql://postgres:2009@localhost:5432/online_courses_db
JWT_SECRET=supersecurejwtkey
JWT_REFRESH_SECRET=supersecurejwtrefreshkey
NODE_ENV=development
PORT=4000

# Email configuration
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=user@example.com
EMAIL_PASS=yourpassword